/***Style of the whole tweet page (except nav bar) when screen size >= 1024px***/
.tweet-page{
    display: flex;
    flex-direction: row;
}

header{
    top:150px;
    left: 50px;
    width: 50%;
}

