header{
    height: 400px;
    width: 100%;
    background-color: #d1d1d1;
    background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    z-index: -1;
    position: relative;
    top:120px;
}

h2{
    font-family: 'Source Sans Pro';
}